#crystalColletor{
background-color: aquamarine;
background-size: auto;
text-align: center;

}

#image-crystals img{
    width: 250px;
    height: 250px;
}
#image-crystals{
    margin-left: 12%;
    margin-top: 5%;
}

#number-to-beat{
    font-size: 25;
    width: 11%;
    margin-left: 43%;
    border: 4px solid rgb(24, 114, 167);
    padding: 10px;
}
.instruction{
    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #1a1041;
    
}